body {
   font-family: Arial, sans-serif;
   background-color: #f2f2f2;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column; /* Alinha itens verticalmente */
   align-items: center; /* Centraliza itens horizontalmente */
   min-height: 100vh; /* Garante que o body ocupe a altura total da tela */
}


.Resultado {
   width: 900px;
   background-color: #fff;
   margin: 20px 0; /* Margem superior e inferior */
   border-radius: 5px;
   text-align: left;
   line-height: 2.5;
}

.form-container {
   display: flex;
   justify-content: space-around; /* Distribui os formulários horizontalmente */
   width: 100%;
   max-width: 640px; /* Largura máxima para os formulários */
   margin: 20px 0;
}

#pesquisa-form {
   width: 300px;
   padding: 20px;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: left;

}

#valores-form {
   width: 300px;
   padding: 20px;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: left;
}