<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA</title>    
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='../static/styles.css') }}">
</head>
<body>
    <h1>Pesquisa de Detentos</h1>
    <form name="pesquisa_preso" method="POST">
        {{ form.hidden_tag() }}

        {{ form.nome.label }} {{ form.nome }} </br>
        {{ form.matricula.label }} {{ form.matricula }} </br>
        {{ form.pesquisar() }}

        {{ form.csrf_token }}
    </form>
    <div>
        
    </div>


</body>
</html>