<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA</title>    
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='../static/styles.css') }}">
</head>
<body>
    <a href="/lista-selecionados">Ver Lista de Selecionados</a>
    <h1>Pesquisa de Detentos</h1>
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.matricula.label }} {{ form.matricula() }}
        {{ form.nome.label }} {{ form.nome() }}
        {{ form.pesquisar() }}
    </form>
    
    <!-- Display search results -->
     <div id="Resultado">
        {% if sentenciados %}
        <h3>Resultados da Pesquisa:</h3>
        <ul>
            {% for sentenciado in sentenciados %}
            <li>
                {{ sentenciado.nome }} - {{ sentenciado.matricula }}
                <button onclick="adicionarLista('{{ sentenciado.matricula }}')">Adicionar</button>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        
    </div>
    <script>
        function adicionarLista(matricula) {
            fetch('/adicionar/' + matricula, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 'success') {
                    alert('Adicionado com sucesso');
                }
            });
        }
    </script>
  
    </div>
</body>
</html>
